/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(50, 0, 50, 0.2);
  font-family: "Lato", sans-serif;
}

/* Contenedor principal */
#contenedor {
  display: block;
  width: 100%;
  max-width: 960px;   /* limita el ancho */
  margin: 1rem auto;  /* centra horizontal*/
  padding: 1rem;
}

header, footer {
  background-color: lightgray;
}

article, section {
  margin: 1rem;
  padding: 1rem;
}

video {
  display: block;
  margin: 1rem;
  padding: 1rem;
}

blockquote {
  margin: 0.2rem;
  padding: 0.2rem;
  font-size: 2rem;
  text-align: center;
}


/* estilos para el nav */
nav {
  margin: 0.7rem;
  padding: 0.5rem;
}

nav li {
  display: inline-block; /* coloca los ítems en fila */
  list-style: none;       /* elimina bullets */
  margin: 0;
  padding: 0.2rem;
}

/* estilos para los link */
a:link;
a:visited;
a:hover;
a:active;